html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #3c3c3c;
    border-top: 1px solid #3c3c3c;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    /*   background-color: transparent;*/
    padding: 17px !important;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

    .text-right-xs{
        text-align: right;
    }
    .text-left-xs{
        text-align: left;
    }
    .text-center-xs{
        text-align: center;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}


tr.kv-expand-detail-row>td{
    /* background-color: #4e5458!important;*/
}

.datepicker table tr td.day,
.datepicker table tr th.dow
{
    color: #423a3a!important;
}

.datepicker table tr td.old.day,
.datepicker table tr td.new,
.datepicker table tr th {
    color: #777777!important;
}

/* local fixes start hear */

@media (min-width: 0px) and (max-width: 767px) {
    .fsi-row-xs-level {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .fsi-row-sm-level {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .fsi-row-md-level {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 1200px) {
    .fsi-row-lg-level {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.circular{
    border-radius: 50%!important;

}

.kv-expanded-row .btn{
    position:relative;
    opacity:.6;
    z-index:1;
    font-size: x-large;
    width: 50px;
    height: 50px;
}

.clickable{ /*field value */
    /* border-left: 2px solid Yellow; */
    padding-left: 5px;
    opacity: .7;
    cursor:pointer;
}
.clickable:hover{ /*field value */
    opacity: 1;
    /* border-left: 4px solid Yellow; */
    padding-left: 5px;
    /* zoom: 1.1; */
}

.form-group>div[class^="col-"],
.form-group>div[class^="col-"]>div,
.form-group>div[class^="col-"]>label{
    padding-left: 3px;
    padding-right: 3px;
}

@media (min-width: 768px){
    ul.navbar-nav>li.dropdown.open li.dropdown-submenu:not(:hover) ul{
        display:none !important;
    }
}
.dropdown-submenu > a:after {
    border-color: transparent transparent transparent #333;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
    margin-left:20px;
}


ul.navbar-nav>li.dropdown.open li.dropdown-submenu{
    position:relative;
}

ul.navbar-nav>li.dropdown.open li.dropdown-submenu ul{
    display:block !important;
    left:30px;
}

ul.dropdown-menu ul.dropdown-menu{
    margin-left:20px;
}


#rest-search{
    margin:0px;
}

.rest-item div.div-detail-view>div>div{
    padding:0px;
    padding-left: 10px
}


.rest-item .min-item button{
    float:right;
    margin-left:3px;
}

.rest-item{
    padding:5px;
    margin-top:3px;
    opacity: .7;
    border-radius:5px;
}
.rest-item:hover{
    padding:5px;
    opacity:1;
    background-color: rgba(78, 93, 108, 0.07);
}

.rest-item .min-item{
    padding: 5px;
    background-color:  rgba(78, 93, 108, 0.15);
    border-radius:6px;
    padding-bottom: 21px !important;
    border:none;
}

.rest-item .min-item:hover{

    /* padding-bottom: 18px !important; */
}

.rest-item:hover .min-item{
    padding: 5px 15px;
    padding-bottom:20px;
}
.rest-item:hover .rest-full-info,
.rest-item:hover .rest-item-comments,
.rest-item:hover .rest-item-grades,
.rest-item:hover .rest-maps-info{
    padding: 0px 10px;
}

.rest-item .rest-full-info,
.rest-item .rest-item-comments,
.rest-item .rest-item-grades,
.rest-item .rest-maps-info{
    margin:10px 0px;
}

.rest-item .comments-title,
.rest-item .grades-title{
    font-size:x-large;
    padding-left:15px;
    position: relative;
    top: 12px;
}


.rest-item:hover .rest-comment,
.rest-item:hover .rest-grade{
    padding:10px;
    color:black;
    border-radius:5px;
    margin-top:3px;
    border: 3px solid;
    background-color:#f9f9f9;
}

.rest-item .rest-comment,
.rest-item .rest-grade{

    padding:10px;
    color:black;
    border-radius:5px;
    margin-top:3px;
    border: 3px solid;
    background-color:#f9f9f9;
}
.rest-item .rest-comment:nth-of-type(odd),
.rest-item .rest-grade:nth-of-type(odd){
    padding:10px;

}



a.navbar-brand{
    color:#ED1C24!important
}



@media (max-width: 767px){
    nav.navbar .navbar-collapse {

        width:70%;

        float:right;

        max-height: 100%;

    }

    ::-webkit-scrollbar {
        width: 13px;
        height: 13px;
    }
    ::-webkit-scrollbar-button {
        background: #ccc
    }
    ::-webkit-scrollbar-track-piece {
        background: #888
    }
    ::-webkit-scrollbar-thumb {
        background: #eee
    }
}


.div-detail-view div[class*="fsi-row-"]>* { /*field name*/
    font-size:smaller;

}

.email-funcy-name{
    border-bottom: 1px solid white !important;
    padding: 0px 3px 0px 2px;
}
.email-funcy-atDomain{
    border-radius: 40px 300% 30px 40px;
    color:#d41414;
    border: none;
    background-color:white;
    position: relative;
    top: 3px;
    left: -1px;
    padding:2px;
}
.email-funcy-at {
    font-size: large;
    position:relative;
    top: -1px;
    left: 0px;
}
.email-funcy-domain {
    font-size: xx-small;
    font-weight:bold;
    position:relative;
    left: 0px;
    top: 0px;
}

@media (min-width: 0px) and (max-width: 480px) {
    .table-responsive table> thead{
        display:none;
    }


    .kv-table-wrap tr.kv-expand-detail-row td {
        display: block;
        width: 67%;
        text-align: center;
        font-size: 1em;
    }
}


div.div-detail-view div[class*="col-"]{
    padding-top:0px ;
    padding-bottom:0px ;
}

@media (max-width: 991px) {

    div.div-detail-view>div[class*="fsi-row-"]>div[class*="col-"]:first-child{
        position:relative;
        top: 3px;
        overflow:visible;
        z-index:+1;
        color:#9b9b9b;
    }
}
